body {
font-family: sans-serif; /*modificando el estilo de letra*/
}

nav {
  width: 250px ; /*normalizando el ancho */
}

ul {
  list-style: none; /* quitando el estilo de lista */
  margin: 0 ; /*quitando espacio predefinido */
  padding: 0; /*quitando espacio predefinido */
  line-height: 30px ; /*creando espaciado entre lineas*/

}
li {
  background: #f5f5f0 ;
}

a {
  display: block; /* transformando in-line a  un bloque*/
  text-decoration: none; /* quitando el subrayado*/
  color: #000 ; /*poniendo color */
  padding-left: 10px ; /* modificando el espaciado*/
}

a:hover {
  background: #c1c1c1 ;
}

a:active {
  background: #333 ;
  color: #fff ;
}

ul li:first-child {
  background: #ffc107 ;
}

ul li:first-child a {
  color: #fff ;
}

ul li:first-child a:hover {
  color: #000 ;
}

ul li:first-child a:active {
  color: #fff ;
}
