
#contenedor {
  outline: 1px solid black;
height: 1300px;
width: 1200px;
margin: 20px;
background-image: url(http://freefrontend.com/assets/img/css-background-patterns/striped-background.png);
}

h1{
  outline: 1px solid #000;/*colocando una linea al borde del titulo */
  text-align: center; /* alineacion al centro*/
  background-color: #8ea5b1 ;
}
img{/*colocando una linea al borde de la imagen */
  outline: 10px solid #000;
  max-width: 100%;
}
div {
  width: 500px;
  height: 400px;
  padding: 1px;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-left: 55px;
}
